<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        {% block content %}

        <section id="cover" class="min-vh-100">
        <div id="cover-caption">
        <div class="container">
        <div class="row text-white">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
            <h1 class="display-4 py-2 text-truncate" style="color: black">LOGIN</h1>
                <div class="px-2">
                <form action="{% url 'judge:login' %}" class="justify-content-center", method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for='username'> Username: </label>
                        <input type="text" name="username" class="form-control" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for='password'>Password: </label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <br>
                    <div style="color: rgb(185, 127, 0);font-size: small;">
                        {{ message }} <br>
                    </div>
                <br>
                <input class="btn btn-outline-dark" type="submit" value="Login">
                </form>
                <a href="{% url 'judge:register' %}">Register, if you do not have an account</a>
            </div>
            </div>
        </div>
        </div>
        </div>
        </section>

        {% endblock %}
    </div>
</body>
</html> 