<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <form action="{% url 'judge:answer' problem.id %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>
                    {% block header %}
                    {% endblock %}
                </legend>
                {% block problem_statement %}
                {% endblock %}

                {% block io_constraints %}
                {% endblock %}

                <fieldset>
                    <legend><h3>Sample Input</h3></legend>
                    {% block input_test %}
                    {% endblock %}
                </fieldset>

                <fieldset>
                    <legend><h3>Sample Output</h3></legend>
                    {% block output_test %}
                    {% endblock %}
                </fieldset>

            </fieldset>

            {% block submit %}
                <input type="submit" value="Submit">
            {% endblock %}
        </form>
        
        
        

        

        

        

    </div>    
</body>
</html>