<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <fieldset>
            <form action="{% url 'judge:submission' problem.id %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}

                    {% block header %}
                    {% endblock %}
                    
                    {% block problem_statement %}
                    {% endblock %}
    
                <fieldset>
                    <legend><h3>Submit Your Code</h3></legend>
                    <div>
                        <input type="file" id="submission" name="submission">
                        <input type="submit" value="submit">
                    </div>
                </fieldset>
            </form>
        </fieldset>
        

    </div>    
</body>
</html>