{% extends "./problem_page.html" %}

{% block title %}
    <title>problem {{ problem.id }}</title>
{% endblock %}

{% block header %}
    <h1>{{ problem.problem_title }}</h1>
{% endblock %}

{% block problem_statement %}
    <p>{{ problem.problem_statement }}</p>
{% endblock %}

{% block io_constraints %}
    <pre>{{ problem.input_output_constraint }}</pre>
{% endblock %}

{% block input_test %}
    <pre>{{ testcases.test_input }}</pre>
{% endblock %}

{% block output_test %}
    <pre>{{ testcases.test_output }}</pre>
{% endblock %}